@model UsersAddressVM

@{
    ViewData["Title"] = "AddAddress";
    Layout = "~/Views/Shared/_LayoutASMSPages.cshtml";
}

<br />
<br />

<h3>Yeni Adres Ekleyebilirsiniz...</h3>

<div class="row" style="background-color:whitesmoke; border-radius:4px; padding:10px;">
    <div class="col-md-12">
        <form asp-controller="Adress" asp-action="AddAddress" method="post">
            <div class="form-group">
                <span class="text-danger"
                      style="font-weight:bold;margin-right:3px">*</span>
                <label asp-for="AddressTitle"></label>
                <input asp-for="AddressTitle" class="form-control" required />
            </div>

            <div class="form-group">
                <span class="text-danger" style="font-weight:bold; margin-right:3px;">*</span>
                <label for="City" style="font-weight:bold">İl</label>
                <select id="CitySelect" name="City" class="form-control" style="padding:3px" required>
                    <option value="0" selected>***İl Seçiniz***</option>
                    @foreach (var item in ViewBag.Cities)
                    {
                        <option value="@item.Id">@item.CityName</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <span class="text-danger" style="font-weight:bold; margin-right:3px;">*</span>
                <label for="District" style="font-weight:bold">İlçe</label>
                <select id="DistrictSelect" name="District" class="form-control" required>
                    <option value="0" selected>***İlçe Seçiniz***</option>

                </select>
            </div>

            <div class="form-group">
                <span class="text-danger" style="font-weight:bold; margin-right:3px;">*</span>
                <label for="Neighbourhood" style="font-weight:bold">Mahalle</label>
                <select id="NeighbourhoodSelect" name="Neighbourhood" class="form-control" required>
                    <option value="0" selected>***Mahalle Seçiniz***</option>

                </select>
            </div>

            <div class="form-group">
                <span class="text-danger"
                      style="font-weight:bold;margin-right:3px">*</span>
                <label asp-for="AddressDetails"></label>
                <input asp-for="AddressDetails" class="form-control" />
            </div>

            <div class="form-group">
                <span class="text-danger"
                      style="font-weight:bold;margin-right:3px">*</span>
                <label asp-for="PostCode"></label>
                <input asp-for="PostCode" class="form-control" maxlength="5" />
            </div>

        </form>
    </div>

</div>

@section Scripts {
 <script>
     $(document).ready(function)(){

         //Sayfa ilk açıldığında bazı combolar pasif olacak

     });

     $('#CitySelect').on('change',function() {
         //ilçeyi temizle
         var $district = $("#DistrictSelect");
         $district.empty();
         $district.append("<option value='0' selected>***İlçe Seçiniz***</option>");

         //mahalle temizle
         var $neighbourhood = $("#NeighbourhoodSelect");
         $neighbourhood.empty();
         $neighbourhood.append("<option value='0' selected>***Mahalle Seçiniz***</option>");
         
         var cityId = this.value;
         //Eğer seçilen ilin id'si sıfırdan büyükse ajaxla ilçeleri getir
         if(cityId>0) {
             //to be contiuned... yarın devam edilecektir.
         }
     });

 </script>
}
