
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutASMSPages.cshtml";
}

<br />
<br />
<h4>Adres Bilgileriniz</h4>

<div>
    <a class="btn work" asp-controller="Address" asp-action="AddAddress" role="button">Yeni Adres Ekle</a>

   <a class="btn work" href="/Address/AddAddress">Yeni Adres Ekle</a>
   
</div>
