@inject SignInManager<AppUser> signManager

<!--Footer Started-->
  <!--/footer-->
    <footer class="footer text-left">
        <div class="container py-4 py-sm-5">

            <div class="row py-sm-4 py-3">
                <div class="col-lg-2 col-md-4">
                    <ul class="list-footer" data-aos="fade-up">
                        <li>
                            <a href="/Home/Index" class="nav-link scroll">
                                Anasayfa
                            </a>
                        </li>
                        <li class="my-2">
                            <a href="#about" class="nav-link scroll">
                                Hakkımızda
                            </a>
                        </li>
                        <li class="my-2">
                            <a href="#services" class="nav-link scroll">
                                Eğitimlerimiz
                            </a>
                        </li>
                        <li class="mb-2">
                            <a href="#projects" class="nav-link scroll">
                                İstihdam
                            </a>
                        </li>
                        <li>
                            <a href="#contact" class="nav-link scroll">
                                İletişim
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 mt-sm-5">
                    <!--İçeride kullanıcı yoksa aşağıda giriş ol kayıt ol linkleri gözükecek-->
                   @if (!signManager.IsSignedIn(Context.User))
                  {
                       <ul class="list-footer" data-aos="fade-up">
                        <li>
                            <a href="#register" data-toggle="modal" data-target="#exampleModalCenter" class="nav-link scroll">
                               Giriş Yap
                            </a>
                        </li>
                        <li class="my-2">
                            <a href="#" data-toggle="modal" data-target="#exampleModalCenter2" class="nav-link">
                                Kayıt Ol
                            </a>
                        </li>
                        
                    </ul>
                  }
                </div>
                <div class="offset-lg-4"></div>
                <div class="col-lg-4 footer-end-grid mt-md-0 mt-sm-5" data-aos="fade-up">
                    <h2>
                        <a href="/Home/Index">
                            <i class="fas fa-crosshairs"></i> ASMS 303
                        </a>
                    </h2>
                </div>
            </div>
            <hr>
            <div class="d-flex justify-content-between pt-lg-3  footer-bottom-cpy">
                <div class="copy-right-w3ls">
                    <p>
                        © 2022 Tüm hakları Network AKademi 303 Sabah Grubu Sınıfına Saklıdır
                        <a href="/Home/Index"> ASMS 303 </a>

                    </p>
                </div>
                <div class="social-content pb-md-0 pb-4">
                    <ul class="social-icons text-center d-flex">
                        <li class="ml-lg-5">
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-google-plus-g"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!--//footer-->



<!--TODO : Kendi tag helperimizi yazacağız-->
<!--Footer Ended-->