@inject SignInManager<AppUser> signManager

<!-- nav -->
<nav class="main-header d-flex">
    <div id="brand">
        <div id="logo">
            <a href="/Home/Index"
               background-color>
                <i class="fas fa-crosshairs"></i>
            </a>
        </div>
        <div id="word-mark">
            <h1>
                <a href="/Home/Index">ASMS</a>
            </h1>
        </div>
    </div>
    <div id="menu">
        <div id="menu-toggle">
            <div id="menu-icon">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </div>
        <ul class="text-center nav-honey">
            <li>
                <a href="index.html" class="active ">Anasayfa</a>
            </li>
            <li>
                <a class="scroll" href="#about">Hakkımızda</a>
            </li>
            <li>
                <a class="scroll" href="#services">Eğitimler</a>
            </li>
            <li>
                <a class="scroll" href="#projects">İstihdam</a>
            </li>
            <li>
                <a class="scroll" href="#contact">İletişim</a>
            </li>
            @if (signManager.IsSignedIn(Context.User))
            {
                <li>
                    <div class="dropdown show">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: white; color: black;">
                            @signManager.UserManager.FindByNameAsync(Context.User.Identity.Name).Result.Name
                            @signManager.UserManager.FindByNameAsync(Context.User.Identity.Name).Result.Surname
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" style="color:black" href="/Home/Index">
                                Hesap Bilgilerim
                            </a>
                            <a class="dropdown-item" style="color: black" href="/Address/Index">
                                Adres Bilgilerim
                            </a>
                            <a class="dropdown-item" style="color: black" href="/Home/Index">
                                Eğitim Bilgilerim
                            </a>
                            <a class="dropdown-item" style="color: black" asp-controller="Account" asp-action="Logout">
                                Çıkış Yap
                            </a>
                        </div>
                    </div>

                </li>
            }
            else
            {
                <li class="login">
                    <button type="button" class="btn login-btn text-uppercase " data-toggle="modal" data-target="#exampleModalCenter">
                        Giriş Yap
                    </button>
                </li>
            }
        </ul>
    </div>
    <div class="clearfix"></div>
</nav>
<!-- //nav -->